Tags: {{ .tags }}
GitFetch: refs/heads/official
GitCommit: {{ .commit_hash }}
File: dockerfiles/official/al{{ .version_major }}/Dockerfile.{{ .image_type }}
Architectures: amd64, arm64v8, ppc64le, s390x
